# Mac
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate

# Swift Package Manager
Packages.resolved
.swiftpm/
.build/

# Framework
*.framework/
*.xcframework/
*.zip
!mac/OpenMultitouchSupportXCF.xcframework.zip
!windows/MagicTrackpad2ForWindows_20241210.zip
build/

# Windows
.vs/
bin/
obj/
build/
intermediate/

# Linux packaging outputs
windows_linux/packaging/linux/deb/out/
windows_linux/packaging/linux/arch/*.pkg.tar.zst
windows_linux/packaging/linux/arch/pkg/
windows_linux/packaging/linux/arch/src/
