<Project>
  <PropertyGroup>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishDir>bin/Release/net10.0/publish/linux-x64-framework-dependent/</PublishDir>
  </PropertyGroup>
</Project>
